.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: lightcoral;
}

h1 {
    text-align: center;
}

.dodaj-zad{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

form{
    border: 1px solid #212121;
    border-radius: 5px;
}

.header-tab{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
   padding: 0 0 0 40px;
    height: 40px;
    background: pink;
    

}

.table-row{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 10px 20px;
    height: 40px;
    border: solid  #212121;
    border-width: 1px 0 0 0;
   
    

}

.table-cell{
    font-size: 24px;
}