*{
    box-sizing: border-box;
}

.container{
    position: relative;
    height: 600px;
    width: 600px;
    border: 3px solid #212121;
    background: darksalmon;


}

.human{
    position: absolute;
    top: 285px;
    left: 285px;
    height: 30px;
    width: 30px;
    background: deeppink;
    border: 1px solid #e905b0;
}